@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}
 */
/* styles/globals.css */

.custom-color{
  color: #2e826a;
}
.custom-color-bg1{
  background-color: #2e826a;
}

.custom-color-bg{
    background-color: #71d48c;
}
.bg-color-yellow{
  background-color: #71d48b2b;
}
.color-desc{
  color: #5B5B5B
}

